@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

.page {
    width: 1040;
    margin: 0 auto;
}

body {
    background-color: #f3f3f3;
    font-size: 98%;
    display: grid;
    margin: 0;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 100px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "main nav"
        "main nav"
        "main nav"
        "fotter fotter";
}

body > * {
    margin: 3px;
    padding: 10px;
}

h3{
    grid-area: main;
}
p{
    grid-area: main;
}
nav{
    grid-area: nav;
}